.navbar-nav a{
    font-size: 18px;
  }
  .navbar-nav> a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: #0EA963;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out;
  }
  .btn-xl {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    width:50%;    
}
a:link 
{ 
 text-decoration:none; 
} 
.card-produit{
  max-width: 640px; 
  left: 350px; 
  top: 150px;
}

@media (max-width: 740px) {
  .card-produit {
      left: auto;
}
body{
  width: 100%;
}
}

ul li a {
	text-decoration: none;
	color: black;
	font-size: 22px;
	display: block;
	padding: 10px 15px;
	position: relative;
}

 ul li a:hover:after {
 	transform: scaleX(1);
 }

 ul li a:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #0EA963;
	transform: scaleX(0);
	transition: all 0.5s;
	transform-origin: right
}
.button-cat:hover{

  background-color: #fff;
}

@media(max-width: 1240px){ 
  nav{
    width: 100%;
  }
    body {
      overflow-x: hidden !important;
  }
  .container {
      max-width: 100% !important;
      overflow-x: hidden !important;
  }
   
  
}
body {
  overflow-x: hidden !important;
}
.container {
  max-width: 100% !important;
  overflow-x: hidden !important;
}

.voirPlus{
  opacity: 0.5;
}
.voirPlus > a{
  text-decoration: none;
  color: white;
}
.copyright{
  margin-left: 400px;
  
}
.enveloppe{
  font-size: 11px;
}
.envoyer{
  border: none;
}
.souligne{
  text-decoration-line: underline;
  text-decoration-style: solid;
}
 .formulaire{
  margin-left: 200px;
  margin-bottom: 10px;
} 
@media(max-width: 740px){ 
  .response{
    margin-right: 100%;
  }
  .formulaire{
    margin-right: 100%;
  }
}
